<div
  class="card-container"
  [ngClass]="{
    'fundo-verde': statusCor === 'verde',
    'fundo-vermelho': statusCor === 'vermelho',
    'fundo-cinza': statusCor === 'cinza',
    'fundo-amarelo': statusCor === 'amarelo'
  }"
  (click)="onClick()"
  tabindex="0"
>
  <div class="titulo-container">
    <strong class="titulo">{{ card.negocio }}</strong>
    <div class="acoes">
      <!-- Botão de excluir card -->
      <button class="btn-icone" (click)="onExcluir($event)">
  <i
    class="bi bi-trash"
    [ngClass]="{
      'icone-verde': statusCor === 'verde',
      'icone-vermelho': statusCor === 'vermelho',
      'icone-cinza': statusCor === 'cinza',
      'icone-amarelo': statusCor === 'amarelo'
    }"
  ></i>
</button>
    </div>
  </div>

  <div class="linha">{{ card.nome }}</div>
  <div class="linha">{{ card.servicoDesejado }}</div>
  <div class="linha valor">{{ card.valorNegocio }}</div>
  <div class="linha pequeno">
    <strong>Criado por:</strong> {{ card.criadoPor }}
  </div>
</div>
