<div class="card-container" (click)="onClick()" tabindex="0">
  <div class="titulo-container">
    <strong class="titulo">{{ card.negocio }}</strong>
    <div class="acoes">
      <!-- Botão Editar -->
      <button class="btn-icone" (click)="onEditar($event)">
        <i class="bi bi-pencil"></i>
      </button>
      <!-- Botão Excluir -->
      <button class="btn-icone" (click)="onExcluir($event)">
        <i class="bi bi-trash"></i>
      </button>
    </div>
  </div>

  <div class="linha">{{ card.nome }}</div>
  <div class="linha">{{ card.servicoDesejado }}</div>
  <div class="linha valor">{{ card.valorNegocio }}</div>
  <div class="linha pequeno">
    <strong>Criado por:</strong> {{ card.criadoPor }}
  </div>
</div>
