/* Scroll principal horizontal com altura total da viewport */
.conteudo-scroll {
  display: flex;
  width: 100vw;
  overflow-x: auto;
  height: calc(100vh - 120px);
  padding: 1rem;
  gap: 1rem;
  background-color: #f8f9fa;
}

/* Cada coluna dentro do board */
.coluna-wrapper {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 0.5rem;
  min-width: 280px;
  max-width: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  transition: box-shadow 0.3s ease;
}

.coluna-wrapper:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.btn-coluna:hover {
  background-color: #0d6efd;
  color: white;
  transition: background-color 0.3s ease;
}

.btn-coluna {
  background-color:#9bc6ff;
}

.d-none {
  display: none !important;
}

@media (max-width: 767px) {
  .coluna-wrapper {
    min-width: 100vw;
    max-width: 100vw;
  }

  .conteudo-scroll {
    height: calc(100vh - 180px);
    background-color: #ffffff;
    padding: 0px;
    margin: 0px;
  }

}
