<app-linha-sticky
  [abrirModalCallback]="abrirModalCallback"
></app-linha-sticky>

<div class="conteudo-scroll">
  <div
    *ngFor="let coluna of colunas; let i = index"
    class="coluna-wrapper"
    [class.d-none]="isMobile && i !== colunaVisivel"
    [style.flex]="!isMobile ? '1 1 0' : 'none'"
    [style.width]="!isMobile ? 'auto' : '100vw'"
  >
    <app-column
      [title]="coluna.titulo"
      [cards]="coluna.cards"
      [index]="i"
      [connectedTo]="connectedColumnIds"
      (cardMoved)="onCardMovido($event)"
      (cardClicked)="abrirHistorico($event)"
    ></app-column>
  </div>
</div>

<app-historico-modal
  [card]="cardSelecionado"
  [visible]="historicoModalAberto"
  (fechar)="fecharHistorico()"
  (salvar)="salvarHistorico($event)"
></app-historico-modal>
