<app-linha-sticky [abrirModalCallback]="abrirModalCallback"></app-linha-sticky>

<!-- Navegação Mobile -->
<div class="d-flex justify-content-between px-3 pb-2" *ngIf="isMobile">
  <button class="btn btn-outline-secondary" (click)="voltarColuna()" [disabled]="colunaVisivel === 0">&larr;</button>
  <button class="btn btn-outline-secondary" (click)="avancarColuna()" [disabled]="colunaVisivel === colunas.length - 1">&rarr;</button>
</div>

<!-- Colunas -->
<div class="conteudo-scroll">
  <div
    *ngFor="let coluna of colunas; let i = index"
    class="coluna-wrapper"
    [class.d-none]="isMobile && i !== colunaVisivel"
  >
    <app-column [title]="coluna.titulo" [cards]="coluna.cards"></app-column>
  </div>
</div>
