.linha-sticky {
  height: 56px;
  width: 100%;
  position: sticky;
  top: 56px;
  z-index: 1020;
  background-color: #f8f9fa;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 0.7rem;
}

.btn  {
  color: white;
  background-color: #0d6efd
}
