<div class="linha-sticky">
  <div class="acoes-left">
    <button class="btn" (click)="abrirModalCallback()">Criar Negócio</button>
    <button class="btn ms-2" (click)="abrirModalNovaColuna()">Adicionar Coluna</button>
  </div>

  <div class="acoes-right">
    <button
      *ngIf="isMobile && colunaVisivel > 0"
      class="btn btn-light"
      (click)="voltarColuna!()"
    >&lt;</button>

    <button
      *ngIf="isMobile && colunaVisivel < colunasLength - 1"
      class="btn btn-light ms-1"
      (click)="avancarColuna!()"
    >&gt;</button>
  </div>
</div>

<!-- Modal de nova coluna -->
<app-form-cad-coluna
  [visible]="modalNovaColunaVisible"
  (fecharModal)="fecharModalNovaColuna()"
  (salvarColuna)="salvarNovaColuna($event)"
></app-form-cad-coluna>
