<div class="columns">
  <h6>{{ title }}</h6>

  <div cdkDropList
       [cdkDropListData]="cards"
       [cdkDropListConnectedTo]="connectedTo"
       [id]="index.toString()"
       class="dropzone"
       (cdkDropListDropped)="drop($event)">

    <div *ngFor="let card of cards; trackBy: trackById" cdkDrag>
      <app-card
        [card]="card"
        (cardClicked)="onCardClick(card)"
        (editarCard)="onEditarCard(card)"
        (excluirCard)="onExcluirCard(card)">
      </app-card>
    </div>
  </div>
</div>
