<div class="p-2 d-flex flex-column" style="height: 100%;">
  <h5 class="text-center mb-3">{{ title }}</h5>

  <div
  cdkDropList
  [cdkDropListData]="cards"
  [cdkDropListConnectedTo]="connectedTo"
  [id]="index.toString()"
  class="d-flex flex-column gap-2"
  style="flex-grow: 1; overflow-y: auto;"
  (cdkDropListDropped)="drop($event)"
>

    <div *ngFor="let card of cards" cdkDrag>
      <div (click)="onCardClick(card)">
        <app-card [card]="card"></app-card>
      </div>
    </div>
  </div>
</div>
