[cdkDropList] {
  min-height: 1000px;
  background-color:#ffffff;
  box-shadow: 1;
  border-radius: 10px;
}

[cdkDrag] {
  cursor: grab;
}

.columns {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
}

h6 {
  font-size: 1.10rem;
  font-weight: 600;
  text-align: center;
  align-items: center;
}

