:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 0; /* importante para flexbox não extrapolar */
}

.linha-sticky {
  height: 56px;
  width: 100%;
  position: sticky;
  top: 56px;
  z-index: 1020;
  background-color: #abaeb1;
  border-bottom: 1px solid #dee2e6;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
}

.conteudo-scroll {
  flex: 1; /* ocupa o restante da altura */
  min-height: 0; /* permite scroll funcionar direito */
  overflow-x: auto; /* scroll horizontal */
  overflow-y: hidden; /* evita scroll vertical aqui */
  padding: 1rem;
  display: flex;
}

.coluna-wrapper {
  display: flex;
  flex-direction: column;
 
  width: 100vh;
  height: 100%; /* para coluna ter altura total */
  margin-right: 1rem; /* espaçamento entre colunas */
  box-sizing: border-box;
  overflow-y: auto; /* scroll vertical dentro da coluna */
  background: rgb(255, 255, 255);
  border-radius: 4px;
  box-shadow: 0 0 5px rgb(0 0 0 / 0.1);

}

.coluna-wrapper:last-child {
  margin-right: 0;
}

